# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/.gradle/
android/app/src/main/jniLibs/
*.keystore
key.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
